@use "./abstracts/variables" as *;
@use "./abstracts/utilities";

@use "./bootstrap/override";

@use "./components/header";
@use "./components/banner";
@use "./components/releases";
@use "./components/swipper";
@use "./components/card";
@use "./components/form";
@use "./components/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
}
