$color-primary-blue: #005cff;
$color-primary-blue-dark: #00264e;
$color-primary-blue-light: #5ec0be;
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #6220c1;
$color-secondary-gray-light: #e7e7ea;
$color-secondary-gray-dark: #303030;
$color-secondary-gray: #4f4f4f;
